*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    background-color: rgb(167, 1, 1);
    color: white;
    text-decoration: none;
    padding-right: 208px;
    padding-top: 4px;
    padding-bottom: 2px;
    position: relative;
}